<div id="liensRS">
	<a href="https://www.facebook.com/becowo" target="_blank">
		<img src="http://demo.becowo.com/images/Emails/facebook.png" alt="Facebook" style="border-radius: 20%;"></a>
	<a href="https://www.instagram.com/becowo_and_you/" target="_blank">
		<img src="http://demo.becowo.com/images/Emails/instagram.png" alt="Instagram" style="border-radius: 20%;"></a>
	<a href="https://www.linkedin.com/company/becowo"  target="_blank">
		<img src="http://demo.becowo.com/images/Emails/linkedin.png" alt="Linkedin" style="border-radius: 20%;"></a>
	<a href="https://twitter.com/becowo_and_you" target="_blank">
		<img src="http://demo.becowo.com/images/Emails/twitter.png" alt="Twitter" style="border-radius: 20%;"></a>
</div>
