{% extends "layout.html.twig" %}

{% block title %}
  Référencer un espace de coworking
{% endblock %}

{% block meta %}
	<meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
{% form_theme form 'Form/bootstrap_3_horizontal_layout_modified.html.twig' %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
			<br><br>
			{{form(form)}}
		</div>
	</div>
</div>

{% endblock body %}

{% block javascripts %}

{% endblock javascripts %}
