{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Paiement effectué
{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %}


<center><b><h2>Votre transaction a été refusée</h2></center></b><br>
{{dump(app.request)}}
{{error_msg}}

{% block javascripts %}    
{% endblock javascripts %}

{% endblock body %}