#workspace_amenities, .form-control{
	/* corrige l'affichage des checkbox Amenities*/
	height: 100%;
}

#chart_age #chart_sex{
	height: 300px;
	width: 500px;
}

div.show-image {
    position: relative;
    float:left;
    margin:5px;
}
div.show-image img{
    width: 330px;
    height: 200px;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover a {
    display: block;
}
div.show-image a {
    position:absolute;
    display:none;
    top:40%;
    left:40%;
}

h3{
    color: white   ;
}
