<div class="row text-center" id="question">
    <div class="col-lg-2">
        <br>
        <img src="{{ asset('images/icons/questions-vert.png') }}" alt="question">
    </div>
    <div class="col-lg-8">
        <h2>Une question ? Une suggestion ? Contactez-nous ! </h2>
        <br>
        <h3><i class="fa fa-mobile" aria-hidden="true"></i> Par téléphone ou SMS au : <a href="tel:+33769119310">07 69 11 93 10</a></h3>
        <h3><img src="{{ asset('images/icons/messenger.png') }}" alt="messenger" id="m"> Par messenger en <a href="http://m.me/becowo" target="_blank">cliquant ici</a></h3>
    </div>
    <div class="col-lg-2">
        <br>
        <img src="{{ asset('images/icons/questions-rose.png') }}" alt="question">
    </div>
</div>  