<div class="row" id="declare">
	<div class="col-lg-8 col-lg-offset-2 col-md-12">
		<h1>Comment ajouter votre espace sur Becowo ?</h1>
		<p style="text-align:center;">Vous souhaitez : <br>
			<br>
			<mark>Partager</mark> les valeurs de Becowo : échange, collaboration et bienveillance <br>
			Toucher une <mark>communauté</mark> de coworkers située hors de vos murs <br>
			Intégrer un <mark>réseau</mark> d'espaces de coworking et partager votre expérience  <br>
			<br>
			Alors, découvrez dès maintenant nos offres en cliquant sur le bouton ci-dessous. </p>
		<a href="{{ path('becowo_core_offers') }}">Découvrez nos offres</a>
		<br><br>
	</div>
</div>