<div class="row" id="declare">
<h1>Comment ajouter votre espace sur Becowo ?</h1>
<p>Vous souhaitez accroitre la visibilité de votre espace de coworking ? Vous partagez les valeurs de Becowo qui sont l'échange, la collaboration et la bienveillance ? Vous aspirez à toucher une communauté de coworkers située hors de vos murs ? Vous souhaitez intégrer un réseau d'espaces de coworking souhaitant partager leurs connaissances et leurs expériences ? Alors n'hésitez plus et découvrez nos offres en cliquant sur le bouton ci-dessous. </p>
<button type="button"><a href="{{ path('becowo_core_offers') }}">Découvrez nos offres</a></button>

</div>