{% for label, flashes in app.session.flashbag.all %}
  {% for flash in flashes %}
      <div class="alert alert-{{label}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">X</span>
      </button>
      {% if 'booking' in app.session.get('previousPage') %}
      		{{ flash }} / 
      		<a href="{{app.session.get('previousPage')}}">Retourner à ma réservation</a>
      {% else %}
        	{{ flash }}
      {% endif %}
      </div>
  {% endfor %}
{% endfor %}
