{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %} Vérifier mon email{% endblock %}

{% block fos_user_content %}
<p>Un email a été envoyé à l'adresse {{ user.email }}. Il contient un lien d'activation sur lequel nous vous invitons à cliquer afin d'activer votre compte.</p>

{% endblock fos_user_content %}


