{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %} Vérifier mon email{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container-fluid form-box">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="row" id="checkEmail">
				<p>Un email a été envoyé à l'adresse {{ user.email }}. Il contient un lien d'activation sur lequel nous vous invitons à cliquer afin d'activer votre compte.</p>
				<a href="{{ path('becowo_core_homepage') }}">Revenir sur le site de Becowo</a>
    		</div>
    	</div>
    </div>
</div>
{% endblock fos_user_content %}
