{% extends "Community/layout.html.twig" %}

{% block title %}
  Communauté - coworkers
{% endblock %}

{% block content %}
<h1>Les coworkers</h1>
	<header>
	    <div id="search-input"></div>
	    <div id="search-input-icon"></div>
	</header>
	<main>
	  <div id="left-column">
	    <div id="skills" class="facet"></div>
	    <div id="job" class="facet"></div>
	  </div>
	  <div id="right-column">
	    <div id="sort-by-wrapper"><span id="sort-by"></span></div>
	    <div id="stats"></div>
	    <div id="hits"></div>
	    <div id="pagination"></div>
	  </div>
	</main>

{% endblock content %}

{% block javascripts %}
<script>
	// Documentation : https://www.algolia.com/doc/guides/search/instant-search/

	var search = instantsearch({
	  appId: "{{ algolia.application_id }}",
	  apiKey: "{{ algolia.search_api_key }}", // search only API key, no ADMIN key
	  indexName: "{{ algolia.index_name }}",
	  urlSync: true
	});

	search.addWidget(
	  instantsearch.widgets.searchBox({
	    container: '#search-input',
	    placeholder: 'Chercher un coworker'
	  })
	);
	
	search.addWidget(
	  instantsearch.widgets.hits({
	    container: '#hits',
	    hitsPerPage: 10,
	    templates: {
	      item: function(data) {
	      	console.log(data);
	        return '<div>Hit content :  ' + data._highlightResult.firstname.value + ' ' + data.name + '</div>'
	      },
	      empty: function(data) {
	      	console.log(data);
	        return '<p>We didn\'t find any results for the search <em>' + data.query + '</em>.</p>'
	      }
	    }
	  })
	);

	search.addWidget(
	  instantsearch.widgets.stats({
	    container: '#stats',
	    templates: {
	      body: function(data) {
	        return '<div>You have ' + data.nbHits + ' results, fetched in ' +
	          data.processingTimeMS +'ms.</div>'
	      }
	    }
	  })
	);

	search.addWidget(
	  instantsearch.widgets.sortBySelector({
	    container: '#sort-by',
	    autoHideContainer: true, //automatically hide the widget when there are no results to display
	    indices: [{
	      name: search.indexName, label: 'Most relevant'
	    }, {
	      name: search.indexName + '_price_asc', label: 'Lowest price'
	    }, {
	      name: search.indexName + '_price_desc', label: 'Highest price'
	    }]
	  })
	);

	search.addWidget(
	  instantsearch.widgets.pagination({
	    container: '#pagination'
	  })
	);

	search.addWidget(
	  instantsearch.widgets.refinementList({
	    container: '#skills',
	    attributeName: 'skills',
	    limit: 10,
	    sortBy: ['isRefined', 'count:desc', 'name:asc'],
	    operator: 'or',
	    templates: {
	      header: '<h5>Compétences</h5>'
	    }
	  })
	);
	search.addWidget(
	  instantsearch.widgets.refinementList({
	    container: '#job',
	    attributeName: 'job',
	    limit: 10,
	    sortBy: ['isRefined', 'count:desc', 'name:asc'],
	    operator: 'or',
	    templates: {
	      header: '<h5>Job</h5>'
	    }
	  })
	);

	search.start();

	function getTemplate(templateName) {
	  return document.getElementById(templateName + '-template').innerHTML;
	}
</script>
{% endblock javascripts %}
