{% extends "Community/layout.html.twig" %}

{% block title %}
  Communauté - coworkers
{% endblock %}

{% block content %}
<h1>Les coworkers</h1>

	<div class="row" id="filtersBar">
		<div class="row">
	        <div class="col-lg-9 searchBox">
		    	<div id="search-input"></div>
		    	<i class="fa fa-search" aria-hidden="true"></i>
		    	<span>By <img src="{{ asset('images/icons/')}}algolia.png" alt="Algolia"></span>
		    	<div id="stats"></div>
	        </div>
	        <div class="col-lg-3 sortBox">
		    	<div id="sort-by-wrapper">
		    		<i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
		    		<span id="sort-by"></span>
		    	</div>
		    	<button id="expandFilterBar"><i class="fa fa-filter" aria-hidden="true"></i> Plus de filtres</button>
	        </div>
	    </div>
		<div class="row" id="filtersBarExpanded" style="display:none;">
			<div class="col-lg-3">
				<h3>Job</h3>
		    	<div id="job" class="facet"></div>
			</div>	
			<div class="col-lg-3">
				<h3>Compétence</h3>
		    	<div id="skills" class="facet"></div>
	    	</div>
			<div class="col-lg-3">
				<h3>Centre d'intérêt</h3>
		    	<div id="hobbies" class="facet"></div>
	    	</div>
			<div class="col-lg-3">
		    	<h3>Réseau</h3>
	    	</div>
		</div>

	</div>
	<div class="row">
	    <div id="hits"></div>
	    <div id="pagination"></div>
	</div>

{% endblock content %}

{% block javascripts %}
<script>
	// Documentation : https://www.algolia.com/doc/guides/search/instant-search/

	var search = instantsearch({
	  appId: "{{ algolia.application_id }}",
	  apiKey: "{{ algolia.search_api_key }}", // search only API key, no ADMIN key
	  indexName: "{{ algolia.index_name }}",
	  urlSync: true
	});

	search.addWidget(
	  instantsearch.widgets.searchBox({
	    container: '#search-input',
	    placeholder: 'Chercher un coworker'
	  })
	);
	
	search.addWidget(
	  instantsearch.widgets.hits({
	    container: '#hits',
	    hitsPerPage: 10,
	    templates: {
	      item: function(data) {
	      	console.log(data);
	      	
	      	var skills = getTab('listSkills', data);
	      	var hobbies = getTab('listHobbies', data);
	      	var wishes = getTab('listWishes', data);
	      	var firstname = '';
	      	if(typeof data._highlightResult.firstname !== 'undefined'){
	        		firstname = data._highlightResult.firstname.value
	        	}else if(typeof data.firstname !== 'undefined'){
	        		firstname = data.firstname.value
	        	}else{
	        		firstname = ''};
	      	var name = '';
	      	if(typeof data._highlightResult.name !== 'undefined'){
	        		name = data._highlightResult.name.value
	        	}else if(typeof data.name !== 'undefined'){
	        		name = data.name.value
	        	}else{
	        		name = ''};
	        return '<div>' + 
	        	firstname + ' ' + 
        		name + ' ' +
	        	'Compétences : ' + skills +
	        	'Centre d\'intérêts : ' + hobbies +
	        	'Souhaits avec Becowo : ' + wishes +
        		'</div>'
	      },
	      empty: function(data) {
	      	console.log(data);
	        return '<p>We didn\'t find any results for the search <em>' + data.query + '</em>.</p>'
	      }
	    }
	  })
	);

	search.addWidget(
	  instantsearch.widgets.stats({
	    container: '#stats',
	    templates: {
	      body: function(data) {
	        return '<div>You have ' + data.nbHits + ' results, fetched in ' +
	          data.processingTimeMS +'ms.</div>'
	      }
	    }
	  })
	);

	search.addWidget(
	  instantsearch.widgets.sortBySelector({
	    container: '#sort-by',
	    autoHideContainer: true, //automatically hide the widget when there are no results to display
	    indices: [{
	      name: search.indexName, label: 'Fill rate'
	    }, {
	      name: search.indexName + '_sort_firstname_asc', label: 'Prénom Asc'
	    }]
	  })
	);

	search.addWidget(
	  instantsearch.widgets.pagination({
	    container: '#pagination'
	  })
	);

	search.addWidget(
	  instantsearch.widgets.refinementList({
	    container: '#skills',
	    attributeName: 'listSkills.name',
	    limit: 10,
	    sortBy: ['isRefined', 'count:desc', 'name:asc'],
	    operator: 'or'
	  })
	);
	search.addWidget(
	  instantsearch.widgets.refinementList({
	    container: '#hobbies',
	    attributeName: 'listHobbies.name',
	    limit: 10,
	    sortBy: ['isRefined', 'count:desc', 'name:asc'],
	    operator: 'or'
	    // templates: {
	    //   header: '<h5>Centre d\'intérêt</h5>'
	    // }
	  })
	);
	search.addWidget(
	  instantsearch.widgets.refinementList({
	    container: '#job',
	    attributeName: 'job',
	    limit: 10,
	    sortBy: ['isRefined', 'count:desc', 'name:asc'],
	    operator: 'or'
	  })
	);

	search.start();

	function getTab(element, data)
	{
		if(typeof data._highlightResult[element]  !== 'undefined')
		{
			return getList(data._highlightResult[element]);
		}else if(typeof data[element]  !== 'undefined')
		{
			return getList(data[element]);
		}else{
			return '';
		}
	}

	function getList(tab) 
	{
		var list = '';
		for ( var i = 0, length = tab.length; i < length; i++ )
	        {
	        	list = list + tab[i].name.value + ', '
	        }
	  	return list;
	}

	$('#expandFilterBar').on('click', function(){
		if($('#filtersBarExpanded').css('display') == 'none')
			$('#filtersBarExpanded').show();
		else
			$('#filtersBarExpanded').hide();
	});

</script>
{% endblock javascripts %}
