{% extends "layout.html.twig" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}

<div class="container-fluid" id="community">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			{# MENU ICI #}
			<img src="{{ asset('images/icons/community.png')}}" alt="community">
			
			<ul class="nav">
				<li class="nav-item">
					<a href="{{ path('becowo_core_community') }}">Les coworkers</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('becowo_core_community_events') }}">Les évènements</a> 
				</li>
			</ul>
			<p class="texte1">Vous trouverez ici les membres de la communauté Becowo, n'hésitez pas à aller jeter un œil à leur profil et à les contacter</p>
			{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<p class="texte2" style="background-color:#F49302;color:white;text-align: center;padding: 10px;">Prêt à rejoindre la communauté ? <br> <a data-toggle="modal" href="#myModalRegister" style="color:white;text-decoration:underline">Créez votre profil</a> dès maintenant !</p>
			{% endif %}

			<div class="fb-page" data-href="https://www.facebook.com/becowo/" data-height="150" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" style="min-height: 150px;"><blockquote cite="https://www.facebook.com/becowo/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/becowo/">Becowo</a></blockquote></div>

		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
</div>

{% endblock body %}
