{% extends "layout.html.twig" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}

{# TO DO : delete min-height forcée quand sufisement de profil #}
<div class="container-fluid" id="community" style="min-height: 600px;">
	<div class="row">
		<div class="col-lg-3 col-xs-12">
			{# MENU ICI #}
			<img src="{{ asset('images/icons/community.png')}}" alt="community">
			<p class="texte1">Vous trouverez ici les membres de la communauté Becowo, n'hésitez pas à aller jeter un œil à leur profil en cliquant sur leur photo</p>
			{# <p class="texte2">Découvrez nos profils de freelances, entrepreneurs, indépendants, journalistes etc</p> #}
			<div class="fb-page" data-href="https://www.facebook.com/becowo/" data-height="150" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/becowo/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/becowo/">Becowo</a></blockquote></div>
		</div>
		<div class="col-lg-9 col-xs-12">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
</div>

{% endblock body %}
