{% extends 'Manager/manager-layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css">

{% endblock css %}

{% block page %}

<div class="row">
    <div class="col-lg-12">
        <h1>Les réservations</h1>
        <hr>
    </div>
</div>

<div id='calendar'></div>

<br><br>
Les statuts suivent l'ordre suivant : <br>
<img src="{{ asset('images/icons/becowo status process.jpg')}}" alt="Process réservation Becowo">

{% endblock page%}

{% block javascripts %}
 
<script type="text/javascript" src="{{ asset('js/moment.min.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.js"></script> 

<script>
        
$(document).ready(function() {

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        header:
            {
                center: 'month,agendaWeek,agendaDay'
            },
        footer:
            {
                left:   'title',
                center: 'month,agendaWeek,agendaDay',
                right:  'today prev,next'
            }
    })

});

</script>

{% endblock %}
