{% extends 'manager/manager-layout.html.twig' %}

{% block page %}




{% for ws in managed_WS %}
	{% if loop.length == 1 %}
		<div class="row">
		    <div class="col-lg-12">
		        <h1 class="page-header">
		            Profil de {{ws.name}}
		        </h1>
		    </div>
		</div><!-- /.row -->
	{% else %}
		Vous gérez plusieurs espaces. Cette fonctionnalités n'est pas encore prévue
		{# TO DO gérant de multi espaces #}
	{% endif %}
{% endfor %}

{% endblock page%}