{% extends 'manager/manager-layout.html.twig' %}

{% block page %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Profil de 
        </h1>
    </div>
</div><!-- /.row -->

{{dump(u)}}

{% for u in u %}
	{{dump(u)}}
{% endfor %}

{% endblock page%}