{% extends 'manager/manager-layout.html.twig' %}

{% block page %}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Profil de {{app.user.workspace.name}}
        </h1>
    </div>
</div><!-- /.row -->
	

{% endblock page%}