header
{
	margin-top: 15px;
}

body 
{
    margin-left: 10px;
}

footer, footer a
{
	color: white;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

#Vignettes-image
{
	margin-left: -30px;
    margin-right: -30px;
}

/*.row
{
	background-color: yellow;
}*/

#liensRS
{
	background-color: rgb(46,49,56);
	width: 160px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
}

#NewMembers a
{
	display: inline-block;
}
