@font-face {
    font-family: "DIN Alternate";
    src: url('../css/font/DIN Alternate Regular.otf');
}
/*@font-face {
    font-family: "DIN Alternate";
    font-style: italic;
    src: url('MaSuperFonte-Italic.ttf');
}*/
@font-face {
    font-family: "DIN Alternate";
    font-weight: bold;
    src: url('../css/font/DIN Alternate Bold.otf');
}

:root {
  --my-green: rgb(29, 142, 157);
  --my-red: rgb(199, 47, 79);
  --my-orange: rgb(255, 173, 105);
  --my-blue: rgb(43, 56, 101);
  --my-pink: rgb(206, 97, 110);
  --my-yellow: rgb(244, 240, 67);
  /* to use it : color: var(--my-red); */
}


header
{
	margin-top: 15px;
}

body 
{
	font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
    margin-left: 10px;
}

footer, footer a
{
	color: white;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

#Vignettes-image
{
	margin-left: -30px;
    margin-right: -30px;
}

/*.row
{
	background-color: yellow;
}*/

#liensRS
{
	background-color: rgb(46,49,56);
	width: 160px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
}

#NewMembers a
{
	display: inline-block;
}

#filters, label {
    padding-left: 5px;
    padding-right: 10px;
}
