header
{
	margin-top: 15px;
}

body
{
	margin-left: 10px;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

footer, footer a
{
	background-color: black;
	color: white;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

#map
{
	height: 50%;
    width: 50%;
}
