/********************************** layout *************************************/

@font-face {
    font-family: "DIN Alternate";
    src: url('../css/font/DIN Alternate Regular.otf');
}
@font-face {
    font-family: "MyriadPro";
    src: url('../css/font/MyriadPro-Regular.otf');
}
@font-face {
    font-family: "MinionPro";
    src: url('../css/font/MinionPro-Regular.otf');
}


:root {
  --my-green: rgb(0, 161, 154);
  --my-green-opacity: rgba(0, 161, 154, 0.15);
  --my-green-opacity-4: rgba(0, 161, 154, 0.4);
  --my-red: rgb(231, 46, 70);
  --my-orange: rgb(244, 147, 2);
  --my-blue: rgb(32, 56, 94);
  --my-pink: rgb(241, 95, 104);
  --my-pink-opacity: rgba(241, 95, 104, 0.3);
  --my-pink-opacity-4: rgba(241, 95, 104, 0.4);
  --my-yellow: rgb(252, 231, 99);
  --my-yellow-opacity: rgba(252, 231, 99, 0.5);
  --my-grey: rgb(140, 142, 144);
  /* to use it : color: var(--my-red); */
}


header {
  background-color: var(--my-green);
	padding-top: 20px;
  margin-bottom: 10px; 
}

header h1{
  font-family: "MyriadPro", Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: white;
}
header h2{
  font-family: "MyriadPro", Helvetica, Arial, sans-serif;
  font-size: 38px;
  color: white;
}
header #title{
}
header a:hover{
  font-weight: bold;
  color: white;
}

header a{
  color: white;
  text-decoration: underline;
  font-size: 15px;
}
header #login a{
  text-decoration: none;
}
header #login button{
  color: white;
  margin-bottom: -20px;
  margin-top: -25px;
  font-size: 15px;
}
header #login button:hover{
  font-weight: bold;
  text-decoration: none;
}
header #login button span{
  margin-left: 5px;
}
header #liensRS{
  margin-top: -10px;
  padding-bottom: 5px;
}
header #liensRS img{
  width: 30px;
  height: 30px;
}
header #liensRS a{
  display: inline-block;
}

body {
	font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
}


footer, footer a{
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  padding-left: 20px;
  background: var(--my-blue);
  color: white;
  padding-top: 10px;
  line-height: 2; 
}

footer li {
  list-style-type: none;
}

footer #liensRS{
  /*background-color: rgb(46,49,56);*/
  /*width: 160px;*/
  padding-top: 5px;
  padding-bottom: 5px;
}
footer #liensRS img{
  width: 50px;
  height: 50px;
  margin-left: -10px;
}
footer #liensRS a{
  display: inline-block;
}

/* Bouton de retour haut de page */
#top-link-block i{
  display: inline-block;
  box-shadow: 0px 0px 2px #888;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  text-align: center;
  color: #888;
  background-color: #efefef;
  opacity: 0.2;
}
#top-link-block.affix-top {
  position: absolute; /* allows it to "slide" up into view */
  bottom: -82px; /* negative of the offset - height of link element */
  right: 10px; /* padding from the left side of the window */
}
#top-link-block.affix {
  position: fixed; /* keeps it on the bottom once in view */
  bottom: 18px; /* height of link element */
  right: 10px; /* padding from the left side of the window */
  z-index: 1;
}

/********************************** home page *************************************/

#BarreRecherche{
  background-color: white;
  border: none;
}
#BarreRecherche li{
  margin-right: -1px;
}
#BarreRecherche #bh-sl-address, #BarreRecherche select, #BarreRecherche button{
  border-radius: 0px;
}
#BarreRecherche #bh-sl-address { 
  width: 250px;
  height: 50px;
}
#BarreRecherche select{
  width: 100px;
  height: 50px;
}
#BarreRecherche button{
  width: 170px;
  height: 50px;
}
#BarreRecherche input[type=checkbox] {
    display:none;
} 
#BarreRecherche input[type=checkbox] + label
{
  background: url(../images/icons/unchecked.png) no-repeat;
  display:inline-block;
  background-position-x: 5px;
  padding-left: 25px;
}
#BarreRecherche input[type=checkbox]:checked + label
{
  background: url(../images/icons/checked.png) no-repeat;
  display:inline-block;
  background-position-x: 5px;
  padding-left: 25px;
}

#BarreRecherche #findMe{
  background: none;
  border: none;
  padding-top: 3px;
  margin-right: 10px;
  width: 30px;
}
#BarreRecherche #BtnSearch{
  font-size: 16pt;
  border:none;
  padding:6px 0 6px 0;
  border-radius:75%;
  border-bottom:3px solid var(--my-pink);
  color:var(--my-pink);
  background:#fff;
  margin-left: 10px;
}
#BarreRecherche .fa {
  color: var(--my-pink);
}
#BarreRecherche select, #BarreRecherche button{
  background: url(../images/icons/caret-down-pink.png) no-repeat 90% #fff;
  -webkit-appearance: none; /* Enlène l'arrow d'origine */
}

#vignette{
  border-width: 1px;
  border-style: solid;
}
#vignette .row{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
#vignette p{
  color: #999999;
  font-family: "MyriadPro", Helvetica, Arial, sans-serif;
  font-size: 10pt;
}
#vignette #adresse{
  color: #737373;
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  font-size: 10pt;
}
#vignette #bonus{
  color: var(--my-pink);
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
#vignette #logo img{
  width: 100px;
  height: 30px;
}
#vignette #favoritePicture img{
  width: 100%;
  height: 200px;
}
#vignette #BtnReserve{
  /*background: #f25f69;
  background-image: -webkit-linear-gradient(top, #f25f69, #fa7b85);
  background-image: -moz-linear-gradient(top, #f25f69, #fa7b85);
  background-image: -ms-linear-gradient(top, #f25f69, #fa7b85);
  background-image: -o-linear-gradient(top, #f25f69, #fa7b85);
  background-image: linear-gradient(to bottom, #f25f69, #fa7b85);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;*/
  background-color: var(--my-pink-opacity-4);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  /*border: solid #7a767a 1px;*/
  text-decoration: none;
  text-transform: uppercase;
  height: 80px; 
  /*opacity: 0.4;*/
}
#vignette #BtnReserve:hover, #vignette #BtnReserve a{
  text-decoration: none;
  background-color: var(--my-pink);
  /*opacity: 1;*/
}
#vignette #imageBtn button{    
  margin-left: 67%;
  position: absolute;
  margin-top: -80px;
}
#vignette #listeLogo{
  padding-left: 20px;
  padding-top: 5px;
  margin-bottom: 5px;
  background-color: var(--my-green);
  padding-bottom: 5px;
}
#vignette #listeLogo img{
  width: 50px;
  height: 50px;
}
#vignette #stars img{
  width: 140px;
  height: 30px;
}
.bh-sl-loc-list::-webkit-scrollbar {
    width: 6px;
}
.bh-sl-loc-list::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
.bh-sl-loc-list::-webkit-scrollbar-thumb {
    background-color: var(--my-pink);
}
.bh-sl-loc-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--my-pink);
}

#NewEspaces{
  background: var(--my-green-opacity);
  padding-bottom: 30px;
  margin-left: -10px;
  margin-right: 10px;
  margin-top: 20px;
  border-left: solid;
  border-left-width: 10px;
  border-left-color: var(--my-green);
}
#NewEspaces h2{
  color: var(--my-green);
  font-size: 25pt;
  font-weight: bold;
}
#NewEspaces h3{
  color: var(--my-pink);
  font-size: 17pt;
  text-transform: uppercase;
}

#coupCoeur{
  background: var(--my-pink-opacity); 
  padding-bottom: 30px;
  margin-top: 20px;
  border-left: solid;
  border-left-width: 10px;
  border-left-color: var(--my-pink);
}
#coupCoeur h2{
  color: var(--my-pink);  
  font-size: 25pt;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}
#coupCoeur h3{
  color: var(--my-blue);  
  font-size: 17pt;
  text-transform: uppercase;
}

#NewMembers{
  background: var(--my-green-opacity);
  padding-bottom: 30px;
  margin-left: 37px;
  margin-top: 20px;
  margin-right: 44px;
}
#NewMembers h2{
  color: var(--my-green);
  font-size: 25pt;
  font-weight: bold;
}
#NewMembers a{
  display: inline-block;
}
#NewMembers #members{
  text-align: center;
  margin: 0,20px,0,20px;
}
#NewMembers #members span{
  padding-right: 90px;
}

#NewAvis{
  border-color: var(--my-green);
  border-width: 2pt;
  border-style: solid;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-left: -10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
#NewAvis h2{
  color: var(--my-green);  
  font-size: 22pt;
  margin-bottom: 30px;
  margin-left: 10px;
  font-weight: bold;
}
#NewAvis #avis{
  border-color: var(--my-green);
  border-width: 2pt;
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#avis #avisCol1{
  text-align: center;
}
#avis h4,#avis a{
  color: var(--my-pink);
  font-size: 14pt;
}
#avis .rating{
  display: flex;
}

#Instagram{
  background: var(--my-yellow-opacity);
  margin-top: 20px;
  margin-bottom: 20px;
}
#Instagram img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
#Instagram h2{
  color: var(--my-red);
  font-size: 22pt;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: bold;
}
#filters, label {
  padding-left: 5px;
  padding-right: 10px;
}

/********************************** Page workspace *************************************/

#wsHeader{
  /*border: solid 1px;*/
  margin: 0px 10px 20px 10px;
  padding: 10px 10px 10px 10px;
}
#wsHeader .row{
  margin-right: 0;
  margin-left: 0;
}
#contact{
  font-size: 23pt;
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  color: var(--my-grey);
}
#description{
  border : solid 1px;
  padding: 10px 10px 10px 10px;
  margin-left: 20px;
}
#description h2{
  color: var(--my-green);
}
#description p{
  color: var(--my-grey);
  font-size: 14pt;
}
#description span{
  color: var(--my-green);
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  font-size: 14pt;
}
#description hr{
  border-top: 1px solid var(--my-green);
  width: 60%;
  margin-top: 50px;
  margin-bottom: 50px;
}
#description img{
  width: 70px;
  height: 70px;
}
#time{
  margin-top: 10px;
  /*border: 1px solid var(--my-grey);*/
  background-color: var(--my-pink-opacity);
  color: var(--my-grey);
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  font-size: 14pt;
}
#time i{
  color: var(--my-pink);
}
#time p{
  margin-left: 10px;
}
#time a{
  margin-left: 10px;
  color: var(--my-pink);
}
#time a:hover{
  font-weight: bold;
}
#time button{
  width: 100%;
  border: none;
  background: var(--my-pink);
  color: white;
  margin-top: 10px;
  height: 40px;
}
#time button i{
  color: white;
  margin-right: 15px;
}
#booking{
  background-color: var(--my-green-opacity);
  margin-left: 20px;
  margin-right: 20px;
}
#booking h2{
  color: var(--my-green);
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}
#events{
  background-color: var(--my-yellow-opacity);
}
#events h2{
  color: var(--my-green);
}
#events p{
  color: var(--my-grey);
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  font-size: 12pt;
}
#events #accordion .panel-heading{
  background-color: var(--my-green);
  color: white;
}
#events #accordion .addthisevent-drop{
  width: 100%;
  border: none;
  background: var(--my-green);
  color: white!important;
  margin-top: 10px;
  height: 40px;
}
#CommentResults{
  border: 1px solid var(--my-green);
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  color: var(--my-grey);
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
}
#CommentResults h2{
  color: var(--my-green);
}
#CommentResults hr{
  width: 70%;
  border-top: solid 1px #ffa500;
}
#CommentResults p{
  font-size: 12pt;
  text-align: justify;
  padding-right: 50px;
}
#CommentResults img{
  width: 70px;
  height: 70px;
}
#CommentResults span{
  font-weight: bold;
  display: flex;
}
#CommentResults .memberPic{
  display: block;
  margin-top: 10px;
}
#CommentResults .rating{
  margin-top: -10px;
}
#comment #comment_Envoyer{
  background: #2dc4bc;
  background-image: -webkit-linear-gradient(top, #2dc4bc, #00a199);
  background-image: -moz-linear-gradient(top, #2dc4bc, #00a199);
  background-image: -ms-linear-gradient(top, #2dc4bc, #00a199);
  background-image: -o-linear-gradient(top, #2dc4bc, #00a199);
  background-image: linear-gradient(to bottom, #2dc4bc, #00a199);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 85%;
}
#comment #comment_Envoyer:hover{
  background: #00a199;
  text-decoration: none;
}
#comment label{
  display: none;
}
#comment textarea{
  margin-top: 10px;
}
#comment-form #comment{
  width: 80%;
}
#CommentResults button{
  margin-left: -90%;
  background-color: var(--my-green-opacity-4);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  height: 120px; 
}
#CommentResults button:hover{
  text-decoration: none;
  background-color: var(--my-green);
}
#listComments{
  padding-top: 20px;
  margin-top: 20px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
#listComments::-webkit-scrollbar {
  width: 6px;
}
#listComments::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}
#listComments::-webkit-scrollbar-thumb {
  background-color: var(--my-green);
}
#listComments::-webkit-scrollbar-thumb:hover {
  background-color: var(--my-green);
}
#team{
  background-color: var(--my-pink-opacity);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
#team h2{
  color: var(--my-pink);
  text-decoration: underline;
}

/**************************************************************************************/

.gallery{
    display: inline-block;
    margin-top: 20px;
}





