@font-face {
    font-family: "DIN Alternate";
    src: url('../css/font/DIN Alternate Bold.otf');
}
@font-face {
    font-family: "MyriadPro";
    src: url('../css/font/MyriadPro-Regular.otf');
}

:root {
  --my-green: rgb(0, 161, 154);
  --my-green-opacity: rgba(0, 161, 154, 0.15);
  --my-red: rgb(231, 46, 70);
  --my-orange: rgb(244, 147, 2);
  --my-blue: rgb(32, 56, 94);
  --my-pink: rgb(246, 96, 106);
  --my-yellow: rgb(252, 231, 99);
  /* to use it : color: var(--my-red); */
}


header {
  background-color: var(--my-green);
	padding-top: 20px;
  margin-bottom: 10px; 
}

header h1{
  font-family: "MyriadPro", Helvetica, Arial, sans-serif;
  font-size: 40px;
}
header h2{
  font-family: "MyriadPro", Helvetica, Arial, sans-serif;
  font-size: 38px;
}

header a:hover{
  font-weight: bold;
  color: white;
}

header, header a{
  color: white;
  text-decoration: underline;
  font-size: 15px;
}
header #login a{
  text-decoration: none;
}

body {
	font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
}

#vignette{
  border-width: 1px;
  border-style: solid;
}

#vignette #logo img{
  width: 100px;
  height: 30px;
}

#vignette #favoritePicture img{
  width: 100%;
  height: 200px;
}

#vignette #listeLogo img{
  width: 50px;
  height: 50px;
}

#vignette #stars img{
  width: 140px;
  height: 30px;
}

/*Nouveaux espaces*/
#NewEspaces{
  background: var(--my-green-opacity);
  padding-bottom: 30px;
}
#NewEspaces h2{
  color: var(--my-green);
  font-size: 25pt;
}
#NewEspaces h3{
  color: var(--my-pink);
  font-size: 17pt;
  text-transform: uppercase;
}

footer, footer a{
  font-family: "DIN Alternate", Helvetica, Arial, sans-serif;
  padding-left: 20px;
  background: var(--my-blue);
	color: white;
  padding-top: 10px;
  line-height: 2; 
}
.navbar{
  margin-bottom: 0;
}

footer li {
  list-style-type: none;
}

.gallery{
    display: inline-block;
    margin-top: 20px;
}

/*
#Vignettes-image{
	margin-left: -30px;
  margin-right: -30px;
}
*/

/*.row
{
	background-color: yellow;
}*/

#liensRS{
	/*background-color: rgb(46,49,56);*/
	/*width: 160px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 20px;
}

#NewMembers a{
	display: inline-block;
}

#filters, label {
  padding-left: 5px;
  padding-right: 10px;
}
