{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<br><br>
<p><center>
	Un e-mail a été envoyé à l'adresse {{ email }}. Il contient un lien sur lequel nous vous invitons à cliquer afin de réinitialiser votre mot de passe.
</center>
</p>
{% endblock %}
