{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}
<p>Un nouveau mot de passe a déjà été demandé pour cet utilisateur dans les dernières 24 heures.</p>
{% endblock fos_user_content %}
