<img src="{{ asset('images/icons/QuoiDeNeuf.png') }}" alt="Quoi de neuf sur notre blog" class="quoideneuf">
<div class="row" id="BlogTwitter">
	<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12">
		<h4>sur le blog</h4>
		{{ render(controller('BecowoCoreBundle:Blog:viewLastArticle', {nbArticles: 2})) }}
		<a href="https://www.blog.becowo.com/" target="_blank" class="btnBlog">Les autres articles sur notre blog</a>
	</div>
	<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12">
		<h4>Vue sur Twitter</h4>
		<a class="twitter-timeline" data-lang="fr" data-width="350" data-height="400" data-theme="light" href="https://twitter.com/Becowo_and_you"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>