{% for article in articles %}
	{% if article.url != "" %}
		<a href="{{article.url}}" target="_blank">{{article.titre}} <i class="fa fa-external-link" aria-hidden="true"></i></a>
	{% endif %}
	<p>{{article.description|raw}}</p>
	<br>
{% endfor %}
