<div class="row" id="actu">
	<div class="col-lg-2 hidden-md hidden-xs vCenter">
		<center><img src="{{ asset('images/icons/rss.png') }}" alt="RSS blog" class="center-block" width="100%"></center>
	</div>
	<div class="col-lg-5 col-md-6 vCenter col-xs-12" style="vertical-align: top">
		<h4>Quoi de neuf sur notre blog ?</h4>
		<br>
		{{ render(controller('BecowoCoreBundle:Blog:viewLastArticle', {nbArticles: 2})) }}
	</div>
	<div class="col-lg-1 col-md-1 hidden-xs vCenter" id="separateur"></div>
	<div class="col-lg-3 col-md-4 col-xs-12 vCenter" id="Twitter">
		<h4>Quoi de neuf sur notre Twitter ?</h4>
		<br>
		<a class="twitter-timeline" data-lang="fr" data-width="350" data-height="310" data-theme="light" href="https://twitter.com/Becowo_and_you"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>