<div class="row" id="actu">
	<div class="col-lg-2 col-md-1 vCenter hidden-xs">
		<center><img src="{{ asset('images/icons/rss.png') }}" alt="RSS blog" class="center-block" width="100%"></center>
	</div>
	<div class="col-lg-5 col-md-5 vCenter col-xs-12">
		<h4>Quoi de neuf sur notre blog ?</h4>
		<br>
		{{ render(controller('BecowoCoreBundle:Blog:viewLastArticle', {nbArticles: 2})) }}
	</div>
	<div class="col-lg-1 vCenter hidden-xs" id="separateur"></div>
	<div class="col-lg-3 vCenter col-xs-12" id="Instagram">
		<h4>Quoi de neuf sur notre Instagram ?</h4>
		<script src="https://snapwidget.com/js/snapwidget.js"></script>
		<iframe src="https://snapwidget.com/embed/code/207854" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
	</div>
</div>