{% extends "layout.html.twig" %}

{% block title %}
  Becowo - Accueil
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}


{% include 'Home/home-image.html.twig' %} 

{# {% if is_mobile() %}
	{{ render(controller('BecowoCoreBundle:Home:mobile')) }}
{% else %} #}


{% include 'Home/filtersBar.html.twig' %} 

{{ render(controller('BecowoCoreBundle:Home:paginationList', {limit: 5})) }}


<div class="container-fluid">

{% if is_mobile() %}
	<div class="row text-center">
		{% include 'CommonViews/video-mobile.html.twig' %}
	</div>
{% else %}
	<div class="row text-center">
		<br><br>
		{% include 'CommonViews/video.html.twig' %} 
		<br><br>
	</div>
{% endif %}

{% include 'Home/blog-and-twitter.html.twig' %} 


{% include 'CommonViews/declarerEspace.html.twig' %} 


</div>



{% endblock body %}

