<div id="home-image">
	<img src="{{ asset('images/Becowo-Header.jpg') }}" alt="Becowo" width="100%">

	<div class="phrase">
		Réservez un espace de travail et <br>intégrez une communauté de coworkers
	</div> 
	<div class="homeButtons hidden-xs">
		<a href="#filtersBar" id="goToFilters">Réserver un <br> espace de travail</a>
		<a href="{{ path('becowo_core_community') }}" class="deux">Rencontrer la <br> communauté</a>
		<a href="http://www.blog.becowo.com" target="_blank">Découvrir <br>le blog</a>
	</div>

</div>
