<div id="home-image">
	<img src="{{ asset('images/Becowo-Header.jpg') }}" alt="Becowo" width="100%">

	<div class="phrase">Réservez un espace de travail et intégrez une communauté de coworkers</div>
	<div class="homeIcon">
		<a href="#liste-espaces" id="goToMap" class="hidden-xs">
			<img src="{{ asset('images/icons/Home-espace.png') }}">
			<img src="{{ asset('images/icons/Home-bureau.png') }}" class="deux">
			<img src="{{ asset('images/icons/Home-reunion.png') }}">
		</a>
	</div>
</div>
