<div id="home-image">
	<img src="{{ asset('images/Becowo-Header.jpg') }}" alt="Becowo" width="100%">

	<h1>
		Réservez un espace de travail et <br>intégrez une communauté de coworkers
	</h1>
	<div class="homeButtons hidden-xs">
		<a href="#filtersBar" id="goToFilters"><h2>Réserver un <br> espace de travail</h2></a>
		<a href="{{ path('becowo_core_community') }}" class="deux"><h2>Rencontrer la <br> communauté</h2></a>
		<a href="http://www.blog.becowo.com" target="_blank"><h2>Découvrir <br>le blog</h2></a>
	</div>

</div>
