{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Ambassadeur
{% endblock %}

{% block body %}

<h2>Devenir ambassadeur</h2>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="well">
				TO DO : rédiger Ambassadeur
			</div>
		</div>
	</div>
</div>


{% endblock %}