{% extends "layout.html.twig" %}

{% block title %}
  Comment ça marche - espaces
{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row text-center" id="videoPanel">
		{% include 'CommonViews/video-big.html.twig' %} 
	</div>
</div><div class="container-fluid" id="commentEspace">
	<div class="row text-center">
		<h3>Chez <span style="font-size:30pt;">Becowo</span> notre mission c'est de valoriser ce qui rend votre espace de coworking si <span style="font-size:30pt;">particulier</span></h3>
		<br>
			<img src="{{ asset('images/icons/couronne.png') }}" alt="luxe">
	</div>
		<br>
		<div class="row text-center">
			<div class="col-lg-10 col-lg-offset-1 col-md-12 col-xs-10 col-xs-offset-1">
				<p class="title">Becowo permet non seulement d’accroitre la <mark>visibilité</mark> de votre espace de coworking, mais également d’intégrer une <mark>communauté</mark></p>
			</div>
		</div>
		<div class="row text-center bande">
			<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1">
				<h4>Flexibilité</h4>
				<i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
				<p>Les offres proposées par Becowo sont sans engagement</p>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-12">
				<h4>Gestion</h4>
				<i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
				<p>Avec Becowo, facilitez la gestion de vos réservation et de votre communauté</p>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-12">
				<h4>Communication</h4>
				<i class="fa fa-users fa-2x" aria-hidden="true"></i>
				<p>La plateforme de Becowo vous permet d’étendre votre visibilité auprès des membres de la communauté</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-lg-6 col-md-6 col-xs-12">
				<h3>Des fonctionnalités innovantes </h3>
				<img src="{{ asset('images/icons/fonctionnalites-innovantes.png') }}" alt="Fonctionnalités innovantes">
				<br><br>
				<div class="row">
					<div class="col-lg-11 col-lg-offset-2 col-md-11 col-md-offset-2">
						<p class="liste"><i class="fa fa-check" aria-hidden="true"></i> Gestion centralisées de vos réservations <br>
							<i class="fa fa-check" aria-hidden="true"></i> Mise en avant de vos évènements <br>
							<i class="fa fa-check" aria-hidden="true"></i> Intégration de votre communauté de coworkers au réseau Becowo <br>
							<i class="fa fa-check" aria-hidden="true"></i> Communication facilité avec les autres membres du réseau <br>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-12">
				<h3>Un réseau d’espaces de coworking  </h3>
				<img src="{{ asset('images/icons/reseau.png') }}" alt="Réseau d’espaces de coworking">
				<br><br>
				<div class="row">
					<div class="col-lg-10 col-lg-offset-2 col-md-11 col-md-offset-2">
						<p><i class="fa fa-check" aria-hidden="true"></i> Faciliter les échanges de compétences <br>
						<i class="fa fa-check" aria-hidden="true"></i> Échanger autour de problématiques communes <br>
						<i class="fa fa-check" aria-hidden="true"></i> Profiter de recommandations croisées <br>
						<i class="fa fa-check" aria-hidden="true"></i> Participer à améliorer le modèle du coworking en France <br>
						</p>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		{% include 'CommonViews/declarerEspace.html.twig' %} 
		<br><br>
		<div class="row text-center">
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
			<p>Becowo étant encore une jeune Startup, nous travaillons activement afin de vous proposer de nouvelles fonctionnalités. 
			Et parce que chez Becowo, la logique <mark>contributive</mark> est une valeur importante, nous n'envisageons pas de développer des outils qui vous sont destinés sans vous concerter.
			Aussi, n'hésitez plus : <a href="{{ path('becowo_core_contact') }}">envoyez vos idées, suggestions,</a> nous serons ravis d'en discuter avec vous. 
			</p>
			<br>
			<p style="text-align:center;"><i>Très bientôt, vous pourrez trouver un plus grand choix d'espaces de coworking dans de nouvelles régions.</i></p>
			</div>
		</div>
		
	<br>
	<hr>
	<br>
	{% include "CommonViews/bandeauQuestion.html.twig" %}
	<br>
</div>

{% endblock %}

{% block javascripts %}	
<script>
 	$('.nav li').removeClass('noActive');
</script>
{% endblock %}
