{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Comment ça marche ?
{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row">
	<h1>Comment ca marche ?</h1>
	</div>
	<div class="row">
		<video id="video" height="200px" controls="controls">
			<source src="{{ asset('video/coworking.mp4') }}" type="video/mp4"> 
		</video>
	</div>
	{% include "CommonViews/bandeauQuestion.html.twig" %}

</div>



{% endblock %}
