{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Comment ça marche ?
{% endblock %}

{% block body %}

<div id="page-simple">
<h1>Comment ca marche ?</h1>

<p style="font-size:18px; text-align:center;">
</p>
<video id="video" height="200px" controls="controls">
	<source src="{{ asset('video/coworking.mp4') }}" type="video/mp4"> 
</video>

</div>
<br><br>
{% endblock %}
