{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Comment ça marche ?
{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row">
	<h1>Comment ca marche ?</h1>
	</div>
	<div class="row">
		<p>Becowo est une plateforme web collaborative de référencement d'espaces de travail partagé. Becowo est également une solution simple et complète pour les coworkers souhaitant réserver un espace de travail et intégrer une communauté de coworkers, ainsi que pour les managers d'espaces de travail souhaitant accroitre leur visibilité, marquer leur différence, faciliter la gestion de leur espace et participer à la production de ressources partagées. </p>


		<h2>Pour les tiers lieux</h2>

		<p>Avec l'offre link, le référencement de votre espace est gratuit. Cependant, si vous souhaiter accéder à plus de fonctionnalités : réservation en ligne, suivi des réservations, personnalisation de votre page (événements, présentation de l'équipe, services à disposition dans votre espace etc...) vous pouvez souscrire à l'offre Zen. En souscrivant à cette offre, une commission de 10% vous sera déduite à chaque réservation effectuée via la plateforme de Becowo. 
		Les offres proposées sont flexibles et ne vous engage que pour la durée d'un mois de date à date. 
		L'objectif à court terme de Becowo est de permettre aux espaces de coworking de mettre en avant leurs problématiques via le site et leur donner les outils pour y travailler de manière collaborative. Ainsi chacun peut contribuer à améliorer la gestion d’un espace, toujours dans le souci d’améliorer le bien-être des coworkers.
		Intégrer la plateforme de Becowo, c’est envoyer un message fort à une communauté grandissante de coworkers, télétravailleurs, freelancers et autres startupers… C’est montrer aux autres que vous défendez les valeurs du travail collaboratif, que vous valorisez le travail de vos coworkers et que vous êtes capable de vous remettre en question pour vous adapter à de nouveaux besoins.
		</p>

		<p>Les fonctionnalités et services mis à disposition de la communauté Becowo évoluent constamment. La logique contributive est une valeur importante pour nous et nous n'envisageons pas de développer des outils qui vous sont destinés sans vous concerter. Aussi, n'hésitez pas à nous contacter si vous avez des idées, des suggestions, nous serions ravis d'en discuter avec vous.</p>
	</div>
	<div class="row">
		<video id="video" height="200px" controls="controls">
			<source src="{{ asset('video/coworking.mp4') }}" type="video/mp4"> 
		</video>
	</div>
	{% include "CommonViews/bandeauQuestion.html.twig" %}

</div>



{% endblock %}
