{% extends "layout.html.twig" %}

{% block title %}
  Gestion des cookies
{% endblock %}

{% block body %}

<div id="page-simple">
<h2>Gestion des cookies de Becowo</h2>

<p>
Cette Politique des cookies complète nos <a href="{{ path('becowo_core_cgu') }}">Conditions Générales d'Utilisations</a>.<br>
Le site de Becowo utilise des cookies. Un cookie est un petit texte stocké par votre navigateur, qui lui permet de conserver des informations entre les pages internet et les sessions de navigation. <br>
<br>
Becowo utilise des cookies générés et utilisés par le Site et des cookies de tiers. <br>
En utilisant les services de Becowo, vous acceptez de recevoir des cookies et la présente Politique des cookies. Vous pouvez refuser ou limiter nos cookies en paramétrant votre navigateur conformément à ce qui est précisé en annexe. <br>
<br>
<strong>DÉFINITION</strong><br>
<br>
Les cookies sont des petits fichiers texte générés par les sites internet que vous visitez, et qui permettent de conserver des données qui peuvent être utiles par la suite. Ces données permettent de conserver vos informations entre les pages, mais aussi d’analyser la manière donc vous interagissez avec le Site.<br>
<br>
Les cookies sont sécurisés, ils ne peuvent que stocker les informations qui sont mises à disposition par le navigateur, informations que l’utilisateur aura préalablement entré dans le navigateur ou qui sont incluses dans les demandes de page.<br>
<br>
Il y a deux différents types de cookies dont les utilisations et le contenu sont différents: temporaires et persistants :<br>
les cookies <strong>temporaires</strong> contiennent des informations qui sont utilisées au sein de votre session de navigation. Ces cookies sont automatiquement effacés lorsque vous fermez votre navigateur. Rien n'est conservé sur votre ordinateur une fois votre navigation terminée.<br>
les cookies <strong>persistants</strong> servent à stocker des informations qui sont utilisées entre les visites. Ces données permettent aux sites de reconnaître que vous êtes un utilisateur récurrent, et s’adaptent en conséquence. Les cookies persistants ont une valeur à long terme qui est défini par le site, et qui peut varier de quelques minutes à plusieurs années.<br>
<br>
Ces cookies ne stockent pas d'informations personnelles permettant à d'autres sites de vous identifier, en effet, elles sont basées uniquement sur l'historique de navigation.<br>
<br>
<strong>COLLECTE DES COOKIES</strong><br>
<br>
Afin de permettre une navigation optimale sur le présent site ainsi qu’un meilleur fonctionnement des différentes interfaces et applications, Becowo pourra procéder à l’implantation d’un cookie.<br>
Becowo se réserve le droit de collecter l’adresse IP (Internet Protocol) publique. La collecte de cette adresse IP sera effectuée de façon anonyme, elle sera conservée pour la même durée que les cookies et ne sera destinée qu’à permettre une bonne administration des services proposés sur le site.<br>
<br>
<strong>CONTENU DES COOKIES</strong><br>
<br>
Les cookies temporaires sont utilisés dans le cadre de Google analytics. <br>
Les cookies persistants sont utilisés pour sauvegarder les informations de connexion. <br>
<br>
<strong>DÉSACTIVATION ET SUPPRESSION DES COOKIES</strong><br>
<br>
Ces cookies ont vocation à être conservés pour une durée variable allant jusqu’à 13 mois, et pourront être lus et utilisés par Becowo lors d’une visite ultérieure sur le site.<br>
Tous les navigateurs Web vous permettent de limiter les comportements des cookies ou de les désactiver dans les paramètres ou les options du navigateur. Les étapes à suivre sont différentes pour chaque navigateur, vous pouvez trouver des instructions dans le menu « Aide » de votre navigateur respectif ou à la fin de cette page.<br>
<br>
Grâce à votre navigateur, vous pouvez aussi consulter les cookies présents sur votre ordinateur, et les supprimer un à un ou tous d’un coup.<br>
Les cookies sont des fichiers texte de sorte que vous pouvez les ouvrir et lire le contenu. Les données contenues à l’intérieur sont souvent cryptées et correspondant à une session Web si bien qu'elles n'ont du sens que pour le site internet qui les a écrites.<br>
Si vous désactivez les cookies, alors l'auto-connexion ne sera plus possible, et le suivi de vos visites sur le Site ne s'effectuera plus.<br>
<br>
<strong>LES COOKIES DE NOS PARTENAIRES TECHNOLOGIQUES</strong><br>
<br>
Google<br>
Les données contenues dans les cookies informent Google sur les pages, les produits et services que vous avez été visité, et lui permet de vous proposer des publicités appropriées. Google écrit à la fois des cookies persistants et temporaires. Les cookies ne stockent pas de données personnelles. Supprimer ou désactiver ces cookies ne nuira pas à la fonctionnalité du Site.<br>
<br>
Google Analytics<br>
Ces cookies sont utilisés pour recueillir des informations sur la manière dont les visiteurs utilisent notre site. Nous utilisons les informations pour compiler des rapports et pour nous aider à améliorer le site. Les cookies recueillent des informations sous une forme anonyme, y compris le nombre de visiteurs sur le site, la provenance des visiteurs et les pages qu'ils ont visitées.<br>
<br>
<br>
<strong>COMMENT DÉSACTIVER LES COOKIES</strong><br>
<br>
Si vous souhaitez désactiver les cookies, nous vous conseillons cet <a href="http://www.commentcamarche.net/faq/1999-supprimer-les-cookies#effacer-les-cookies" target="_blank">article</a> qui vous accompagnera pas à pas, selon votre navigateur.
</p>
</div>

{% endblock %}
