{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Déclarer un espace
{% endblock %}

{% block body %}

<h2>Coworker - Déclarez un espace</h2>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="well">
				TO DO
			</div>
		</div>
	</div>
</div>


{% endblock %}