{% extends "layout.html.twig" %}

{% block title %}
  Mentions légales
{% endblock %}

{% block body %}

<div id="page-simple">
<h2>Mentions légales</h2>

<p>Ce site web est la propriété de <strong>Becowo</strong> <br>
Responsable de la publication : Madame Fiona Delannoy, en sa qualité de Présidente. <br>
À ce titre, elle est bénéficiaire d’un CAPE <br>
Espace des Entrepreneurs <br>
Siret : 418 541 553 000 32 <br>
TVA Intracommunautaire : FR 23 418 541 553 <br>
Code NAF : 8899B <br>
<br>
Conception du site : Madame Olivia de Charette, en sa qualité de co-fondatrice. <br>
<br>
L'hébergeur du site www.becowo.com est la Société OVH <br>
SAS au capital de 10 069 020€  <br>
Siège social : RCS Lille Métropole 424 761 419 00045, 2 rue Kellermann - 59100 Roubaix - France <br>
E-mail : support@ovh.com <br>
Téléphone : 09 72 10 10 07
</p>
<p> Conception de la vidéo : <br>
<a href="https://fr.linkedin.com/in/inesbrianceau" target="_blank">Ines Brianceau</a>
</p>
<p> Participation à la charte graphique : <br>
<a href="https://fr.linkedin.com/in/emma-brianchon-24729a68" target="_blank">Emma Brianchon</a> <br>
<a href="https://fr.linkedin.com/in/paulinedufour" target="_blank">Pauline Dufour</a>
</p>
<p>Elements issus de freeprix : <br>
<a href="http://www.freepik.com/free-photos-vectors/business" target="_blank">Business vector designed by Freepik</a> <br>
<a href="http://www.freepik.com/free-photos-vectors/coffee" target="_blank">Coffee vector designed by Freepik</a> <br>
<a href='http://www.freepik.com/free-vector/hands-putting-puzzle-pieces-together_795183.htm' target="_blank">Hands putting puzzle designed by Freepik</a> <br>
<a href='http://www.freepik.com/free-vector/flat-photographer-characters_831293.htm' target="_blank">Flat photographer designed by Freepik</a> <br>
</p>
</div>

{% endblock %}
