{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Paiement en ligne
{% endblock %}

{% block body %}

<h2>Paiement en ligne</h2>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="well">
				TO DO : rédiger le Paiement en ligne
			</div>
		</div>
	</div>
</div>


{% endblock %}