{% extends "layout.html.twig" %}

{% block title %}
  Qui sommes nous ?
{% endblock %}

{% block body %}

<div class="container-fluid" id="aPropos">
	<h1>Qui sommes-nous ?</h1>
	<div class="row text-center">
		<br>
		{% include 'CommonViews/video.html.twig' %} 
		<br>
	</div>
	<div class="row text-center">
		<h2>Pour en savoir plus</h2>
		<br>
		<a title="Comment ça marche" href="{{ path('becowo_core_comment_ca_marche_coworkers') }}">Je suis (futur) coworker </a>
		<a title="Comment ça marche" href="{{ path('becowo_core_comment_ca_marche_espaces') }}">Je gère un espace </a>
	</div>
	<br>
	<div class="row">
		<h2>Notre BecoTeam</h2>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<center><img src="{{ asset('images/fiona.png') }}" alt="Fiona Delannoy" height="80px"></center>
			<h4>FIONA DELANNOY</h4>
			<center><strong>Fondatrice / Business developper</strong></center>
			<br>
			<p style="padding-left:-20px;">Après avoir constaté qu’un CDI ne lui permettait pas d’assouvir sa créativité et son besoin de liberté, Fiona s’est découverte une véritable vocation pour l’entrepreneuriat. Chez Becowo, elle indique les orientations à suivre afin d’assurer la vision du projet sur le long terme. En charge de la partie business et communication, Fiona apporte une dose de créativité au projet.</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<center><img src="{{ asset('images/olivia.png') }}" alt="Olivia de Charette" height="80px"></center>
			<h4>OLIVIA DE CHARETTE</h4>
			<center><strong>Co-fondatrice / Directrice technique</strong></center>
			<br>
			<p>Passionnée d’informatique, Olivia est toujours à la recherche de nouveaux challenges et considère son travail comme une passion et une manière de s’accomplir. Après des expériences riches en gestion de projet et management d’équipes, elle souhaite désormais entreprendre et créer de la valeur. Son rôle chez Becowo est de développer un site web attractif et d’apporter une dose d’organisation au projet.</p>
		</div>
	</div>
	<br><br>
</div>

{% endblock %}
