
<p style="margin-left:20px;margin-right:20px;Margin-left:20px;Margin-right:20px;">
<br><br>
Bonjour,  <br>
<br>
Message reçu depuis Becowo <br>
<br>
Nom : {{ name }} <br>
Email : {{ email }} <br>
Sujet : {{ subject }} <br>
Message : {{ message }} <br>
</p>
