{% extends 'CommonViews/Mail/layout-email.html.twig' %}

{% block emailTitle %}
	Bienvenue dans la communauté Becowo !
{% endblock emailTitle %}

{% block emailContent %}

Vous êtes inscrit depuis peu et nous vous en remercions. <br>
<br>
Avez vous trouvé votre espace de travail idéal ? <br>
Si ce n'est pas encore le cas, n'hésitez pas à nous contacter en répondant directement à cet email et nous ferons de notre mieux pour vous aidez.<br>
<br>
Pensez à <a href="https://demo.becowo.com/profile/edit" style="color: #00A19A;font-weight: bold;">renseigner votre profil</a>, ainsi vous pourrez : <br>
<br>
<img src="https://demo.becowo.com/images/Emails/check.png" style="float:left;">Effectuer une réservation en ligne <br>
<img src="https://demo.becowo.com/images/Emails/check.png" style="float:left;">Vous faire connaitre de la <a href="https://demo.becowo.com/communaute" style="color: #00A19A;font-weight: bold;">communauté</a> <br>
<img src="https://demo.becowo.com/images/Emails/check.png" style="float:left;">Échanger avec des membres ayant les mêmes compétences, ou centres d'intérêt <br>
<img src="https://demo.becowo.com/images/Emails/check.png" style="float:left;">Développer votre réseau pro <br>

<br><br>
Et n'oubliez pas : chez Becowo nous considérons que votre potentiel humain ne doit pas être un luxe. <br>
<br><br>

En attendant, nous vous souhaitons une belle aventure avec Becowo.
<br>
{% endblock emailContent %}
