{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block header_custom_menu %}
	{{ parent() }}
	<ul class="nav navbar-nav">
        <li>
    		<a href="{{ path('becowo_core_homepage') }}"> <button type="button" class="">Home page</button> </a>
    	</li>
    </ul>
{% endblock header_custom_menu %}
